.navbar-light .navbar-nav .nav-link {
    color: var(--secondary-color);
    font-weight: bold;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--primary-color);
    text-decoration: underline;
    
}
.navbar-brand{
    color:var(--primary-color)
}