<div class="container mt-5 mb-5">
    <img src="" width="100%">
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum, optio? Libero aperiam, tempore perspiciatis architecto in vero dolorem ut consequuntur quasi explicabo optio doloribus aut praesentium dolorum accusantium distinctio culpa!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, atque laborum! Voluptatum, adipisci ratione labore totam delectus quo quasi nobis excepturi vero, libero neque qui perferendis! Totam saepe labore quaerat?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi sequi explicabo libero dicta aliquam dolorem nemo neque sint dolorum quidem, earum odio vel, nulla itaque autem! Itaque iste similique cupiditate.
    </p>
</div>